@import 'variables';
@import '_color';
@import '_global';


body {
    // background-color: $body-bg;
    font-size: 16px;
}

h1 {
    color: var(--text);
    font-size: 40px;
    line-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;



    background-color: aqua;
    border-radius: 10px;
}


ul, li {
    list-style-type: none;
}

ul li a {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
}

.home {
    display: block;
    height: 1500px;
    background-color: blueviolet;
}
.about {
    display: block;
    height: 1500px;
    background-color:chocolate;
}
.profile {
    display: block;
    height: 1500px;
    background-color:darkgreen;
}

.not-found {
    display: block;
    height: 1500px;
    background-color:darkviolet;
}
.post {
    display: block;
    height: 1500px;
    background-color:yellowgreen;
}

.param{
    background-color: aqua;
    color: black;
}
.active{
    color: black;
    background-color: aqua;
    border-radius: 22px;
    padding: 8px;
}

.slide-one {
    color: white;
    background: orange;
    border : 2px solid blue;
    font-size: 2em;
    padding: 1em;
    text-align: center;
    align-self: center;
}

.slide-two{
    color: white;
    background: red;
    border : 2px solid blue;
    font-size: 2em;
    padding: 1em;
    text-align: center;
    align-self: center;  
}
.slide-three{
    color: white;
    background: pink;
    border : 2px solid blue;
    font-size: 2em;
    padding: 1em;
    text-align: center;
    align-self: center; 
}

* input{
    display: block;
    margin: 1em;
}

label{
    display: block;
    margin: 1em;
}

input[type=checkbox]{
  display:inline;
}

.checkbox-label{
    display: inline !important;
}
.checkbox-section{
    display: flex !important;
}

.danger{
    color: red;
    font-size:small;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}